@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}
#app > div {
  height: 100%;
}
#container {
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
